$headtop:#00427f;
$head-top-hover:#00538c;
$navtext:#ebf4fe;
$nav-text2:#9a9e9a;
$btn-blue:#007cc1;
$bg-form:#feb52d;
$tab-text:#2f9ed5;
$bg-btn-tab:#ebf4fe;
$table-header:#00427f;
$bg-text-green:#317408;
$bg-text-red:#c4311e;
$bg-text-orange:#f8812a;
$footer-bg:#001838;
$para-font:11px;
$white-color:#fff;
$grey-color:#ccc;
$orange:#fa832a;
$doger-blue:#1e90ff;
$dark-blue: #27527d;
$black:#000;
$color-black: #212529;
$color-white: #f8f9fa;
$color-brown:#924f1b;
